*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
  scroll-behavior: smooth;
  transition: .4s ease-in;
}

:root{
  --hitam: #0d0d0d;
  --putih: #f8f8f8;
}

body{
  color: var(--hitam);
  background: var(--putih);
}

body a{
  color: var(--hitam);
  font-style: italic;
  font-weight: 500;
  text-decoration: none;
  border-bottom: .1rem solid var(--hitam);
  line-height: .8rem;
  display: inline-block;
}
body a:after{
  content: "/";
}
body a:hover{
  animation: hoverAnchor 1s linear infinite alternate;
}

@keyframes hoverAnchor{
  0%,100%{
  } 50%{
    opacity: .5;
  }
}

/* header */
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 2rem;
}
header #judulHeader{
  font-size: 1.2rem; 
  font-weight: 400;
  opacity: .8;
}
/* akhir header */

/* aside */
aside{
  position: fixed;
  top: 0;
  left: 110%;
  right: 0;
  bottom: 0;
  background: var(--putih);
  z-index: 99;
  padding: 3rem;
}
aside .wrapper-header{
  display: flex;
  justify-content: space-between;
}
aside nav a{
  display: block;
  margin-top: 1.5rem;
  width: fit-content;
  line-height: 2.2rem;
  border-bottom-width: .2rem;
  font-size: 3rem;
}

/* akhir aside */

/* main */
main{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

body .box{
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}

main #box1{
  padding: 2rem;
}
main #box1 .wrapper-img{
  display: flex;
  margin-top: 3rem;
  
}
main #box1 .wrapper-img piture{
  flex: 1;
}
main #box1 .wrapper-img piture img{
  width: 90%;
  filter: saturate(0);
}
main #box1 .wrapper-img nav{
  flex: 1;
  display: flex;
  flex-direction: column; 
  justify-content: end;
  padding: .4rem 0;
}
main #box1 .wrapper-img nav a{
  width: fit-content;
  margin-top: .3rem;
}

/* seeProject */
main #seeProject{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
main #seeProject a{
  width: fit-content;
  background: var(--hitam);
  color: var(--putih);
  padding: .4rem 1rem;
  text-decoration: underline;
  border: none;
}

/* links */
main .links{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  margin-top: 5rem;
}

/* box2 */
main #box2{
  background-color: var(--putih);
}
main #box2 section{
  padding: 2rem;
}
main #box2 section h2{
  font-size: 2rem;
}
main #box2 section .riwayatPendidikan{
  padding: 1rem;
}
main #box2 section .riwayatPendidikan li{
  margin-top: .5rem;
  margin-left: 1rem;
}

/* box3 */
main #box3{
  padding: 2rem;
}

main #box3 .wrapper-gallery{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
main #box3 .wrapper-gallery figure{
  background-color: #868;
  width: 30%;
}
main #box3 .wrapper-gallery figure img{
  width: 100%;
}

main #box4 {
  width: 100%;
  padding: 1rem;
}
main #box4 ul{
  padding: 1rem;
  list-style: none;
}
main #box4 ul li{
  padding: 1rem;
  border-radius: 1px solid var(--hitam);
}

